---
layout: Custom
title: Some Fun
---
<h2 style="text-align: left;">
- Life in Tainan
</h2>
<div class="photo-gallery">
  {% for photo in site.data.photos %}
    <div class="photo-item">
      <div class="photo-image">
        <img src="/assets/photos/{{ photo.file }}" alt="{{ photo.description }}" />
      </div>
      <p class="photo-date">
        <span class="icon-calendar">
          {% include svg/icon/calendar-days.svg %}
        </span>
        {{ photo.date | date: "%B %d, %Y" }}
      </p>
      <p class="photo-description">{{ photo.description }}</p>
    </div>
  {% endfor %}
</div>
