---
layout: Custom
title: Some Fun
---
<h2 class="custom-heading">
  Daily Life
</h2>

<div class="photo-gallery">
  {% assign sorted_photos = site.data.photos | sort: "date" | reverse %}
  {% for photo in sorted_photos %}
    <div class="photo-item{% if photo.aspect_ratio == '4 / 3' %} landscape{% endif %}">
      <div class="photo-image" style="aspect-ratio: {{ photo.aspect_ratio | default: '3 / 4' }}">
        <img src="/assets/photos/{{ photo.file }}" alt="{{ photo.description }}" />
      </div>
      <p class="photo-date">
        <span class="icon-calendar">
          {% include svg/icon/calendar-days.svg %}
        </span>
        {{ photo.date | date: "%B %d, %Y" }}
      </p>
      <p class="photo-description">{{ photo.description }}</p>
    </div>
  {% endfor %}
</div>
