---
title: News
layout: page
---

<div class="page-text">
  <h2 class="custom-heading">
  <span class="icon-title">
    {% include svg/icon/info-circle.svg %}
  </span>
  Updates
  </h2>

  <ul>
    {% assign sorted_news = site.news | sort: "date" | reverse %}
    {% for post in sorted_news %}
    <li>
      <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
      <p class="news-date">
          <span class="icon-calendar">
            {% include svg/icon/calendar-days.svg %}
          </span>
        {{ post.date | date: "%B %d, %Y" }}
      </p>
      <p>{{ post.excerpt }}</p>
    </li>
    {% endfor %}
  </ul>
</div>
