///
// Skin: Ocean
// main colors
$main-color-1:     #0366d6; /*->dark blue*/
$text-color-1:     #fff;

$main-color-2:     #a5917f;/*#a5917f;*/
$text-color-2:     #fff;

$main-color-3:     #fff2cc; /*original #f1f8ff; #E0F0FF e6f2ff are good alternatives; fff8e1, fff2cc, fff5d3 are light yellow*/
$text-color-3:     #0366d6; /*->dark blue*/

$main-color-4:     #6fdb4e; /*green color for navigation tab*/
//$gradient-color-3: linear-gradient(to right, #1155cc, #1155cc); /*Fedora header color*/
$background-box: #FDF8E4; //Soft ivory-white, subtle warmth

$main-color-theme-light: rgba(#000, .9);
$main-color-theme-dark:  rgba(#fff, .9);

// page background
$background-color: #FFF9F0; //#FFFDF8 very warm whiteE4F3E3 -> D2E7F4; #FFF9F0 Soft ivory-white, subtle warmth


// text colors
$text-color-theme-light-d: rgba(#000, .95);
$text-color-theme-light:   rgba(#434343, 0.85);/*original rgba(#434343, .85);*/
$text-color-theme-light-l: rgba(#000, .5);

$text-color-theme-dark-d:  #fff;
$text-color-theme-dark:    rgba(#fff, .95);
$text-color-theme-dark-l:  rgba(#fff, .85);

$text-color-d:     $text-color-theme-light-d;
$text-color:       $text-color-theme-light;
$text-color-l:     $text-color-theme-light-l;

$text-background-color: rgba(#000, .05);

// header and footer colors
$header-text-color: $text-color-1;//-> white
$header-background: #1155cc;

$footer-text-color: $text-color-3;
$footer-background: #eaebed; //#f2f2f2; efefef -> light grey
//#eaebed -> slightly darker gey  cfe2f3 ->light blue

// border and shadow colors
$border-color:     mix(#000, $background-color, 20%);
$border-color-l:   mix(#000, $background-color, 10%);
$decorate-color:   rgba(#000, .1);
$mask-color:       rgba(#000, .9);
$select-color:     rgba($main-color-1, .5);

// function colors
$green:           #52c41a;
$blue:            #1890ff;
$yellow:          #fa8c16;
$red:             #f5222d;
$text-color-function: #fff;

// logo colors
$mail-color:       #0072c5;
$facebook-color:   #4267b2;
$twitter-color:    #1da1f2;
$weibo-color:      #e6162d;
$google-plus-color:#ea4335;
$telegram-color:   #32afed;
$medium-color:     #000;
$zhihu-color:      #0084ff;
$douban-color:     #42bd56;
$linkedin-color:   #1074af;
$github-color:     #000;
$npm-color:        #fff;

// Apply gradient only if no inline background style is passed
//$custom-gradient-start: #509FD8;
//$custom-gradient-end: #3C78D8;
//.header:not([style]) {
//  background: linear-gradient(to right, $custom-gradient-start, $custom-gradient-end);
//}
