---
layout: Custom
---

<div class="contact-container">
  <div class="map-container">
    <h2>Our Location</h2>
    <!-- Embed Google Map with static coordinates -->
    <div class="map-embed">
      <iframe src="https://maps-api-ssl.google.com/maps?hl=en&amp;ll=23.000588,120.218753&amp;output=embed&amp;q=23.000678,120.218796&amp;z=18"
              style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>

  <div class="text-container">
    {{ content }}
  </div>
</div>
