---
layout: page
titles:
<!--  en: Home -->
show_title: True
articles:
data_source: paginator.posts
article_type: BlogPosting
show_cover: false
show_excerpt: true
show_readmore: true
show_info: true
---
<div class="layout--home">
  <div class="home-container">

    <!-- Main Content -->
    <div class="home-main">
      {%- include paginator.html -%}
      {{ content }}
    </div>

    <!-- Bottom Flex Container for News and Publications -->
    <div class="home-bottom-flex">
      <!-- News Section -->
      <div class="sidebar-box">
        <h2 class="custom-heading">{{ page.sidebar_title | default: "News"
          }}</h2>
        <ul>
          {% assign sorted_news = site.news | sort: "date" | reverse | slice: 0,
          3 %}
          {% for post in sorted_news %}
          <li>
            <h4><a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h4>
            <p>{{ post.excerpt }}</p>
            <p><span
              class="date-badge">{{ post.date | date: "%m/%d/%Y" }}</span></p>
          </li>
          {% endfor %}
        </ul>
        <a href="{{ '/news' | relative_url }}" class="link-button">Go to
          News</a>
      </div>

<!-- Publications Section -->
<div class="sidebar-box">
  <h2 class="custom-heading">{{ page.publications_title | default: "Publications" }}</h2>
  <ul>
    {% assign sorted_publications = site.publications | sort: "date" | reverse | slice: 0, 2 %}
    {% for post in sorted_publications %}
      {% assign journal = site.data.journals[post.journal_id] %}
      <li>
        <h4>
          <a href="{{ post.source_url }}" target="_blank">{{ post.title }}</a>
        </h4>
        <p>
          {{ post.excerpt }}
          {% if journal %}
            (IF = {{ journal.impact_factor }}, {{ journal.year }})
          {% endif %}
        </p>
        <p>
          <span class="date-badge">{{ post.date | date: "%m/%d/%Y" }}</span>
        </p>
      </li>
    {% endfor %}
  </ul>
  <a href="{{ '/publications' | relative_url }}" class="link-button">Go to Publications</a>
</div>

    </div>
  </div>
</div>

<script>
  {%- include scripts/home.js -%}
</script>
